html {
  background-color: black; }

body {
  display: flex;
  justify-content: center; }
  body img {
    top: -870px;
    left: -825px;
    position: relative;
    margin-top: -15px;
    margin-left: -15px;
    z-index: 1; }

#contenaire {
  width: 1280px;
  height: 600px;
  overflow: hidden; }

#personnage {
  position: absolute;
  top: 300px;
  left: 300px;
  height: 100px;
  width: 80px;
  z-index: 6000;
  background: url("../map/sacha.png"); }

#maison {
  position: fixed;
  top: 430px;
  left: 666px;
  transform: scale(1.25);
  z-index: 1000000; }

#maisonBleu {
  position: fixed;
  top: 975px;
  left: 55px;
  transform: scale(0.68);
  z-index: 1000000; }
