body {
  display: flex;
  justify-content: center;
  overflow: hidden; }
  body img {
    position: absolute;
    top: -870px;
    left: -825px;
    z-index: 1; }

#personnage {
  position: absolute;
  height: 100px;
  width: 80px;
  z-index: 6000;
  top: 45%;
  align-self: center;
  background: url("../map/sacha.png"); }

#maison {
  position: fixed;
  top: 420px;
  left: 650px;
  transform: scale(1.25);
  z-index: 1000000; }

#maisonBleu {
  position: fixed;
  top: 975px;
  left: 55px;
  transform: scale(0.68);
  z-index: 1000000; }
