body
	display: flex
	justify-content: center
	overflow: hidden
	img
		position: absolute
		top: -770px
		left: -790px
		z-index: 1

#personnage
	position: absolute
	height: 100px
	width: 80px
	z-index: 6000
	top: 45%
	align-self: center
	background: url('../map/sacha.png')