html {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; }

#contenaire {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  border: 3px solid black; }
  #contenaire #un {
    height: 400px;
    display: flex;
    flex-direction: column; }
    #contenaire #un #unUn {
      display: flex;
      flex-direction: row; }
      #contenaire #un #unUn #pousser {
        width: 300px; }
      #contenaire #un #unUn #infoEnnemi {
        width: 100px;
        height: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        color: blue; }
      #contenaire #un #unUn #ennemi {
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center; }
        #contenaire #un #unUn #ennemi img {
          height: 80%;
          margin-top: 20px; }
    #contenaire #un #unDeux {
      display: flex;
      flex-direction: row; }
      #contenaire #un #unDeux #pokemon {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center; }
        #contenaire #un #unDeux #pokemon img {
          height: 80%;
          margin-top: 20px; }
      #contenaire #un #unDeux #info {
        margin-top: 130px;
        width: 100px;
        height: 50%;
        color: red; }
  #contenaire #deux {
    height: 200px;
    display: flex;
    flex-direction: row; }
    #contenaire #deux #textChoix {
      flex: 1;
      border: 1px solid black; }
      #contenaire #deux #textChoix p {
        font-size: 35px; }
    #contenaire #deux #choix {
      display: flex;
      flex-direction: row;
      border: 1px solid black;
      flex: 1; }
      #contenaire #deux #choix p {
        font-size: 20px; }
      #contenaire #deux #choix #choixGauche {
        display: flex;
        flex-direction: column; }
        #contenaire #deux #choix #choixGauche #attaqueUne {
          padding-top: 30px;
          padding-left: 50px; }
        #contenaire #deux #choix #choixGauche #attaqueDeux {
          padding-top: 30px;
          padding-left: 50px; }
      #contenaire #deux #choix #choixDroit {
        display: flex;
        flex-direction: column; }
        #contenaire #deux #choix #choixDroit #attaqueTrois {
          padding-top: 30px;
          padding-left: 50px; }
        #contenaire #deux #choix #choixDroit #attaqueQuattre {
          padding-top: 30px;
          padding-left: 50px; }
